.l{

    width: 200%;
    height: 600px;
    background-color: rgb(246, 246, 246);
    display: flex;
   


    
}

.se{
    /*width: 30%;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
     padding: 12px 24px;
     text-align: center; */
  gap: 5px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh; 
  background-color: rgb(255, 255, 255);
  


}


.centrado{
 justify-content: center;
 align-items: center;

}



.derecha{
     justify-content: right;      /*eje x */
    align-items: center;         /*eje y*/
}

.izquierda{

    justify-content: left;
    align-items: center;
}

.arriba{
    justify-content:center;
}

.abajo{
    justify-content: center;
   align-items: end;
}

.c1{

    width: 21%;
    height: 270px;
    text-align: center;   
    text-align: center;
    justify-content: center;
    
}
.c2{
    width: 100%;
    border: 2px solid rgb(252, 252, 252);
    border-radius:5px; 
    background-color:#6156DB;
}

.form-container{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 20px;
}

.container{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 20px;
}
.div_form{
    margin-top: 13px;
}

.cont{
    height: 250px;
    background-color: aqua;
    display: 1px;
    border: #6156DB double 10px;
    text-align: center;

}

.cent{
    text-align: center;
    background-color: rgb(73, 237, 84);
    border: #6156DB double 5px;

}






.btn-custom {
      background-color: #999834;
      color:6156DB;
      border: 2px solid 6156DB;
      padding: 12px 24px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 8px;
      transition: background-color 0.3s ease, transform 0.2s ease;
}

label{
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(0, 0, 0);

}



/* 
.for input{
    width: 80%;
    margin-right: 20px;
}

.for label{
    width: 100%;
} */